# SPDX-FileCopyrightText: 2022 Martin Byrenheid <martin@byrenheid.net>
#
# SPDX-License-Identifier: GPL-3.0-or-later

# The calendars option specifies the path to where the different ical calendars holding 
# tasks are stored, where each calendar is represented by a separate directory.
# For example, if you would like to have todo lists "ProjectA", "ProjectB", "home", which are
# stored under $HOME/.todos, then you can create the directories $HOME/.todos/ProjectA and so on
# and set the "calendars" config value to "$HOME/.todos".
# To check whether the calendars are detected succesfully, you can then call "todo calendars".
calendars: 

datetime_format: "%Y-%m-%dT%H:%M:%S"
date_format: "%Y-%m-%d"

info_columns: summary,created,due,uid,status,categories,calendar,description

reports:
  default:
    columns: id,calendar,summary,categories,status,due
    constraint: status.not_equals:completed 
    max_list_length: 30
    max_column_width: 50
  today:
    columns: id,calendar,summary,due,categories
    constraint: due:tod
    max_list_length: 30
  week:
    columns: id,calendar,summary,due,categories
    constraint: due.after:sun-1w and due.before:sun+1d
    max_list_length: 30


