# SPDX-FileCopyrightText: 2022 Martin Byrenheid <martin@byrenheid.net>
#
# SPDX-License-Identifier: GPL-3.0-or-later

# The lists_dir option specifies the path to where the different ical todo lists holding 
# tasks are stored, where each list is represented by a separate directory.
# For example, if you would like to have todo lists "ProjectA", "ProjectB", "home", which are
# stored under $HOME/.todos, then you can create the directories $HOME/.todos/ProjectA and so on
# and set the "lists_dir" config value to "$HOME/.todos".
# To check whether the lists are detected succesfully, you can then call "todo lists".
lists_dir: 

datetime_format: "%Y-%m-%dT%H:%M:%S"
date_format: "%Y-%m-%d"

# The 'show_columns' option determines which properties are shown when 
# the 'show' command is used to display a summary of a particular todo item.
show_columns: summary,created,due,uid,status,categories,list,description

#
# The following lines contain some example reports that use different filtering criteria.
# To show a particular report with name NAME, one can call "todo report NAME". For example,
# "todo report today" displays the report named "today" as defined below, which shows all todo items
# whose "due" property corresponds to the current date.
#
reports:
  default:
    columns: id,list,summary,categories,status,due
    constraint: status.not_equals:completed 
    max_list_length: 30
    max_column_width: 50
  today:
    columns: id,list,summary,due,categories
    constraint: due:tod
    max_list_length: 30
  week:
    columns: id,list,summary,due,categories
    constraint: due.after:sun-1w and due.before:sun+1d
    max_list_length: 30


